---
import Layout from '@/layouts/Layout.astro';
import BudgetsView from '@/components/Views/BudgetsView';
---

<Layout title="SpendWise | Budget Analytics">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <BudgetsView client:load />
  </div>
</Layout>